* {
    background-color: azure;
}

body {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    justify-content: space-evenly;
    grid-template-columns: 20% 50% 20%;
    grid-template-rows: 100px 680px 50px;
    grid-template-areas: 
        "banner banner banner"
        "menu conteudo relacionados"
        "menu rodape rodape";
}

/* BANNER OU TITULO DA PAGINA */

#banner {
    grid-area: banner;
    background: -webkit-gradient(linear, left top, right bottom, from(#6959CD), to(#FFFAFA)) no-repeat;
    border-radius: 30px;
}

#banner h1, h2 {
    background-color: transparent;
    font-family: Cursive;
    text-align: center;
    margin: 6px;
}

#banner h1 {
    margin-top: 20px;
    font-size: 2em;
}

#banner h2 {
    font-style: italic;
    color: rgb(56, 56, 56);
}

/* MENU LATERAL DA PAGINA */

#menu {
    grid-area: menu;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, right bottom, from(#3CB371), to(#FFFAFA)) no-repeat;
}

#menu ul {
    display: inline-block;
    background-color: transparent;
    align-items: center;
    width: 90%;
    margin: 0;
    margin-top: 20px;
    padding: 5%;
}

#menu li {
    background-color: transparent;
    list-style-type: none;
    text-align: center;
    margin: 5px 0;
    padding: 10px 0;
}

#menu li > a {
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    padding: 10px 0;

    font-family: Monospace;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 5px;
}

#menu li > a:link, a:visited {
    background-color: #90EE90;
    color: black;
}

#menu li > a:hover, a:active {
    background-color: #008000;
    color: white;
}

/* CONTEUDO PRINCIPAL */

#conteudo {
    grid-area: conteudo;
    background: -webkit-gradient(linear, left top, right bottom, from(#DAA520), to(#FFFAFA)) no-repeat;
    border-radius: 30px;
    padding: 20px;
}

#conteudo h1 {
    margin-top: 10px;
    margin-bottom: 24px;
    text-align: center;
}

.espacamento1 {
    margin-left: 12px;
}
.espacamento2 {
    margin-left: 24px;
}
.espacamento3 {
    margin-left: 36px;
}

/* CONTEUDO RELACIONADO */

#relacionados {
    grid-area: relacionados;
    border-radius: 30px;
    padding: 20px;
    background: -webkit-gradient(linear, left top, right bottom, from(#3CB371), to(#FFFAFA)) no-repeat;
}

/* RODAPE */

#rodape {
    background: -webkit-gradient(linear, left top, right bottom, from(#FF69B4), to(#FFFAFA)) no-repeat;
    grid-area: rodape;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

#rodape p {
    margin: 0;
    display: flex;
    align-items: center;
}

#rodape p > img{
    margin: 0 10px;
    display: inline-block;
}

.logo {
    width: 25px;
    background-color: transparent;
}

/* GERAL */

div, h1, p, b, i, span {
    background-color: transparent;
}